
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<a href="https://github.com/login/oauth/authorize?client_id=11e55f84eb0b10ba8dc7&state=AbcD1234&redirect_uri=https://localhost:44300/GitHub/Auth">Connect your account</a>

